@import "_variables";

.focus {
  background-color: $backgroundGrey;
  padding: 0rem 0.5rem 1rem 1.5rem;

  h3 {
    font-size: 0.93rem;
    font-weight: bold;
    color: $white;
    margin-bottom: 0rem;
  }
  > div {
    // background-color: $backgroundGrey;
    // padding: 0rem 0.5rem 1rem 1.5rem;
    margin-right: 0.5rem;
    > div:first-of-type {
      background-color: #3d6256;
      padding: 0.625rem 1rem;
      margin-bottom: 1rem;
    }
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 992px) {
  .focus {
    padding: 1rem;
    > div {
      margin-right: 0rem;
    }
  }
}
