@import "_variables";

.mediaItem {
  > span:first-of-type {
    color: $lightGrey;
    font-size: 9px;
  }
  a {
    display: block;
    font-size: 0.625rem;
    span {
      color: $green;
      text-decoration: none;
      font-weight: 500;
    }
    > span:first-child {
      font-weight: normal;
      text-decoration: underline;
      color: $text;
    }
  }

  hr {
    margin: 0.5rem 4px 0rem 4px;
  }
}

@media (max-width: 992px) {
  .mediaItem a {
    font-size: 0.8rem;
  }
}
