@import "_variables";

.multiSelectItem {
  display: block;
  // position: relative;
  padding-left: 0px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.multiSelectItem input {
  // position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 20px;
  background-color: $backgroundGrey;
}

.checkmark {
  // position: absolute;
  // top: 0;
  // left: 241px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.multiSelectItem > div {
  background-color: $backgroundGrey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.multiSelectItem input:checked ~ .checkmark:after {
  display: block;
}

.multiSelectItem .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid $text;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:disabled + .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:disabled + .checkmark {
  cursor: auto;
}
