@import "_variables";

.newsTabs {
  margin-bottom: 1rem;
  .nav-item {
    width: 50%;
    text-align: center;
  }
  .nav-link {
    padding: 9px 11px 13px 11px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0%;
    border-bottom: 1px solid white;
  }
  .nav-item:first-of-type {
    border: none;
    border-top: solid 2px $green;

    a {
      color: $green;
    }
  }
  .nav-item:nth-of-type(2) {
    border-top: solid 2px $brown;
    a {
      color: $brown;
    }
  }

  .tab-pane {
    background-color: $white;

    font-size: 0.75rem;
    > div {
      padding: 0.5rem;
      span {
        font-size: 0.85rem;
        color: #006754;
      }
    }
    p {
      // margin: 0rem 0.5rem 0.5rem 0.5rem;
      // padding-top: 0.5rem;
      margin-bottom: 0px;
      margin-top: 0.5rem;
    }
  }
  .nav-tabs .nav-link.active {
    border: none;
    border-bottom: solid 2px $white;
  }
  img {
    width: 100%;
    height: auto;
  }
}
